<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" type="text/css" href="{$base_url}bootstrap/themes/cyborg/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{$base_url}bootstrap/themes/cyborg/bootswatch.less"/>
        <link rel="stylesheet" type="text/css" href="{$base_url}bootstrap/themes/cyborg/variables.less"/>    
        
        <!--<link rel="stylesheet" type="text/css" href="{$base_url}bootstrap/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" type="text/css" href="{$base_url}bootstrap/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="{$base_url}css/global.css"/>

        <script type="text/javascript" src="{$base_url}jquery/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="{$base_url}jquery/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{$base_url}bootstrap/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">

            <form class="form-signin">
                <h2 class="form-signin-heading">Inicie sesión</h2>
                <input type="text" class="input-block-level" placeholder="Email">
                <input type="password" class="input-block-level" placeholder="Contraseña">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Recuérdame
                </label>
                <button class="btn btn-large btn-primary" type="submit">Entrar</button>
            </form>

        </div>
    </body>
</html>
